<div class="container">
  <div class="header">
    <h1>Registro de Nuevo Alumno</h1>
    <p>Complete el formulario</p>
  </div>
  <div class="form-container">
    <form #registroForm="ngForm" (ngSubmit)="submitForm(registroForm)" novalidate>
      <h2>Datos Académicos</h2>
      <div class="form-grid">
        <div class="form-group">
          <label for="promedio">Promedio de Bachillerato</label>
          <input type="number" id="promedio" name="PromedioBachillerato" step="0.01" [(ngModel)]="formData.PromedioBachillerato" required />
        </div>
        <div class="form-group">
          <label for="certificadoBachillerato">Certificado de Bachillerato</label>
          <select id="certificadoBachillerato" name="CertificadoBachillerato" [(ngModel)]="formData.CertificadoBachillerato" required>
            <option value="">Seleccione...</option>
            <option value="1">Si</option>
            <option value="0">No</option>
          </select>
        </div>
        <div class="form-group">
          <label for="especialidadBachillerato">Especialidad de Bachillerato</label>
          <input type="text" id="especialidadBachillerato" name="EspecialidadBachillerato" step="0.01" [(ngModel)]="formData.EspecialidadBachillerato" required />
        </div>
        <div class="form-group">
          <label for="nombreCarrera">Nombre Carrera</label>
          <select id="nombreCarrera" name="NombreCarrera" [(ngModel)]="formData.NombreCarrera" (change)="onCarreraChange()" required #nombreCarrera="ngModel">
            <option value="">Seleccione...</option>
            <option *ngFor="let carrera of catalogoCarreras" [value]="carrera.NombreCarrera">
              {{ carrera.NombreCarrera }}
            </option>
          </select>
          <div *ngIf="nombreCarrera.touched && nombreCarrera.invalid" style="color:red;">Campo obligatorio</div>
        </div>
        <div class="form-group">
          <label for="especialidad">Especialidad</label>
          <select id="especialidad" name="Especialidad" [(ngModel)]="formData.Especialidad" required #especialidad="ngModel">
            <option value="">Seleccione...</option>
            <option *ngFor="let especialidad of especialidadesDisponibles" [value]="especialidad">
              {{ especialidad }}
            </option>
          </select>
          <div *ngIf="especialidad.touched && especialidad.invalid" style="color:red;">Campo obligatorio</div>
        </div>
        <div class="form-group">
          <label for="semestre">Semestre</label>
          <input type="number" id="semestre" name="Semestre" [(ngModel)]="formData.Semestre" required />
        </div>
        <div class="form-group">
          <label for="anio">Año</label>
          <input type="number" id="anio" name="Anio" [(ngModel)]="formData.Anio" required />
        </div>
      </div>

      <h2>Datos Generales del Alumno</h2>
      <div class="form-grid">
        <div class="form-group">
          <label for="matricula">Matrícula</label>
          <input type="text" id="matricula" name="Matricula" [(ngModel)]="formData.Matricula" required />
        </div>
        <div class="form-group">
          <label for="nombre">Nombre</label>
          <input type="text" id="nombre" name="Nombre" [(ngModel)]="formData.Nombre" (keyup)="onInputChange()" required #nombre="ngModel" />
          <div *ngIf="nombre.touched && nombre.invalid" style="color:red;">Nombre obligatorio</div>
        </div>
        <div class="form-group">
          <label for="apellidoPaterno">Apellido Paterno</label>
          <input type="text" id="apellidoPaterno" name="ApellidoPaterno" [(ngModel)]="formData.ApellidoPaterno" (keyup)="onInputChange()" required #apellidoPaterno="ngModel" />
          <div *ngIf="apellidoPaterno.touched && apellidoPaterno.invalid" style="color:red;">Apellido Paterno obligatorio</div>
        </div>
        <div class="form-group">
          <label for="apellidoMaterno">Apellido Materno</label>
          <input type="text" id="apellidoMaterno" name="ApellidoMaterno" [(ngModel)]="formData.ApellidoMaterno" (keyup)="onInputChange()" required #apellidoMaterno="ngModel" />
          <div *ngIf="apellidoMaterno.touched && apellidoMaterno.invalid" style="color:red;">Apellido Materno obligatorio</div>
        </div>
        <div class="form-group">
          <label for="fechaNacimiento">Fecha de Nacimiento</label>
          <input type="date" id="fechaNacimiento" name="FechaNacimiento" [(ngModel)]="formData.FechaNacimiento" (change)="onInputChange()" required #fechaNacimiento="ngModel" />
          <div *ngIf="fechaNacimiento.touched && fechaNacimiento.invalid" style="color:red;">Fecha obligatoria</div>
        </div>
        <div class="form-group">
          <label for="sexo">Sexo</label>
          <select id="sexo" name="Sexo" [(ngModel)]="formData.Sexo" required>
            <option value="">Seleccione...</option>
            <option value="M">Masculino</option>
            <option value="F">Femenino</option>
          </select>
        </div>
        <div class="form-group">
          <label>Teléfonos</label>
          <div *ngFor="let tel of formData.Telefonos; let i = index; trackBy: trackByTelefonoId">
            <label for="telefono{{tel.id}}">Teléfono {{ i + 1 }}</label>
            <div style="display: flex; align-items: center; gap: 2px;">
              <input
                type="text"
                [(ngModel)]="tel.numero"
                name="Telefono{{tel.id}}"
                id="telefono{{tel.id}}"
                required
              />
              <button type="button" (click)="eliminarTelefono(i)" class="btn btn-danger btn-sm" style="margin-left: 7em;">Eliminar</button>
            </div>
          </div>
          <button type="button" (click)="agregarTelefono()" class="btn btn-primary btn-sm" style="margin-top: 2px;">
            ➕ Agregar Teléfono
          </button>
        </div>        
        <div class="form-group">
          <label>Correo Electronico</label>
          <div *ngFor="let correo of formData.CorreosElectronicos; let i = index; trackBy: trackByCorreoId">
            <label for="correo{{correo.id}}">Correo Electronico {{ i + 1 }}</label>
            <div style="display: flex; align-items: center; gap: 2px;">
              <input
                type="text"
                [(ngModel)]="correo.correo"
                name="Correo{{correo.id}}"
                id="correo{{correo.id}}"
                required
              />
              <button type="button" (click)="eliminarCorreo(i)" class="btn btn-danger btn-sm" style="margin-left: 7em;">Eliminar</button>
            </div>
          </div>
          <button type="button" (click)="agregarCorreo()" class="btn btn-primary btn-sm" style="margin-top: 2px;">
            ➕ Agregar Correo
          </button>
        </div>        

        <div class="form-group">
          <label for="rfc">RFC</label>
          <input type="text" id="rfc" name="RFC" [(ngModel)]="formData.RFC" required />
        </div>
        <div class="form-group">
          <label for="foto">Fotografía</label>
          <input type="file" id="foto" (change)="onFileChange($event, 'Foto')" accept="image/*" required />
        </div>
      </div>
      <h2>Domicilio del Alumno</h2>
      <div class="form-grid">
        <div class="form-group">
          <label for="codigoPostal">Código Postal</label>
          <input type="text" id="codigoPostal" name="CodigoPostal" [(ngModel)]="formData.Domicilio.CodigoPostal" required />
        </div>
        <div class="form-group">
          <label for="ciudad">Ciudad</label>
          <select id="ciudad" name="Ciudad" [(ngModel)]="formData.Domicilio.Ciudad" required #ciudad="ngModel" >
            <option value="">Seleccione...</option>
            <option *ngFor="let ciudad of catalogoCiudades" [value]="ciudad.Ciudad">
              {{ ciudad.Ciudad }}
            </option>
          </select>
        </div>
        <div class="form-group">
          <label for="colonia">Colonia</label>
          <input type="text" id="colonia" name="Colonia" [(ngModel)]="formData.Domicilio.Colonia" required />
        </div>
        <div class="form-group">
          <label for="calle">Calle</label>
          <input type="text" id="calle" name="Calle" [(ngModel)]="formData.Domicilio.Calle" required />
        </div>
        <div class="form-group">
          <label for="numeroExterior">Número Exterior</label>
          <input type="number" id="numeroExterior" name="NumeroExterior" [(ngModel)]="formData.Domicilio.NumeroExterior" required />
        </div>
        <div class="form-group">
          <label for="numeroInterior">Número Interior</label>
          <input type="number" id="numeroInterior" name="NumeroInterior" [(ngModel)]="formData.Domicilio.NumeroInterior" />
        </div>
      </div>

      <h2>Datos del Tutor</h2>
      <div class="form-grid">
        <div class="form-group">
          <label for="nombreTutor">Nombre del Tutor</label>
          <input type="text" id="nombreTutor" name="NombreTutor" [(ngModel)]="formData.Tutor.Nombre" required />
        </div>
        <div class="form-group">
          <label for="apellidoPaternoTutor">Apellido Paterno del Tutor</label>
          <input type="text" id="apellidoPaternoTutor" name="ApellidoPaternoTutor" [(ngModel)]="formData.Tutor.ApellidoPaterno" required />
        </div>
        <div class="form-group">
          <label for="apellidoMaternoTutor">Apellido Materno del Tutor</label>
          <input type="text" id="apellidoMaternoTutor" name="ApellidoMaternoTutor" [(ngModel)]="formData.Tutor.ApellidoMaterno" required />
        </div>
        <div class="form-group">
          <label>Teléfonos</label>
          <div *ngFor="let telT of formData.Tutor.Telefonos; let i = index; trackBy: trackByTelefonoId">
            <label for="telefono{{telT.id}}">Teléfono {{ i + 1 }}</label>
            <div style="display: flex; align-items: center; gap: 2px;">
              <input
                type="text"
                [(ngModel)]="telT.numeroT"
                name="TelefonoTutor{{telT.id}}"
                id="telefonoTutor{{telT.id}}"
                required
              />
              <button type="button" (click)="eliminarTelefonoTutor(i)" class="btn btn-danger btn-sm" style="margin-left: 7em;">Eliminar</button>
            </div>
          </div>
          <button type="button" (click)="agregarTelefonoTutor()" class="btn btn-primary btn-sm" style="margin-top: 2px;">
            ➕ Agregar Teléfono
          </button>
        </div>        
        <div class="form-group">
          <label>Correo Electronico</label>
          <div *ngFor="let correoT of formData.Tutor.CorreosElectronicos; let i = index; trackBy: trackByCorreoTutorId">
            <label for="correo{{correoT.id}}">Correo Electronico {{ i + 1 }}</label>
            <div style="display: flex; align-items: center; gap: 2px;">
              <input
                type="text"
                [(ngModel)]="correoT.correoT"
                name="CorreoT{{correoT.id}}"
                id="correoT{{correoT.id}}"
                required
              />
              <button type="button" (click)="eliminarCorreoTutor(i)" class="btn btn-danger btn-sm" style="margin-left: 7em;">Eliminar</button>
            </div>
          </div>
          <button type="button" (click)="agregarCorreoTutor()" class="btn btn-primary btn-sm" style="margin-top: 2px;">
            ➕ Agregar Correo
          </button>
        </div>        
      </div>
      <h2>Domicilio del Tutor</h2>
      <div class="form-grid">
        <div class="form-group">
          <label for="calleTutor">Codigo postal</label>
          <input type="text" id="codigoPostalTutor" name="CodigoPostalTutor" [(ngModel)]="formData.Tutor.Domicilio.CodigoPostal" required />
        </div>
        <div class="form-group">
          <label for="ciudadTutor">Ciudad</label>
          <select id="ciudadTutor" name="CiudadTutor" [(ngModel)]="formData.Tutor.Domicilio.Ciudad" required #ciudadTutor="ngModel" >
            <option value="">Seleccione...</option>
            <option *ngFor="let ciudad of catalogoCiudades" [value]="ciudad.Ciudad">
              {{ ciudad.Ciudad }}
            </option>
          </select>
        </div>
        <div class="form-group">
          <label for="coloniaTutor">Colonia</label>
          <input type="text" id="coloniaTutor" name="ColoniaTutor" [(ngModel)]="formData.Tutor.Domicilio.Colonia" required />
        </div>
        <div class="form-group">
          <label for="calleTutor">Calle</label>
          <input type="text" id="calleTutor" name="CalleTutor" [(ngModel)]="formData.Tutor.Domicilio.Calle" required />
        </div>
        <div class="form-group">
          <label for="numeroExteriorTutor">Número Exterior</label>
          <input type="number" id="numeroExteriorTutor" name="NumeroExteriorTutor" [(ngModel)]="formData.Tutor.Domicilio.NumeroExterior" required />
        </div>
        <div class="form-group">
          <label for="numeroInteriorTutor">Número interior</label>
          <input type="number" id="numeroInteriorTutor" name="NumeroInteriorTutor" [(ngModel)]="formData.Tutor.Domicilio.NumeroInterior" required />
        </div>
      </div>
      <!-- Botón de envío -->
      <div class="form-buttons">
        <button type="submit" class="btn btn-primary" [disabled]="registroForm.invalid">Finalizar Registro</button>
      </div>
    </form>
  </div>
  <div class="form-container second-container" style="margin-top: 40px;">
    <h2>Cargar estudiantes por documento Excel</h2>
  
    <div class="form-row">
      <div class="form-group">
        <label for="fileInput">Selecciona archivo Excel:</label>
        <input
          type="file"
          id="fileInput"
          name="fileInput"
          accept=".xlsx,.xls"
          (change)="onFileSelected($event)"
          class="form-control"
          required
        />
        <div class="error-message" *ngIf="errorMessage">
          <i class="fas fa-exclamation-circle"></i>
          {{ errorMessage }}
        </div>
      </div>
  
      <div class="form-group">
        <button class="animated-button" (click)="subirArchivoExcel()">
          <span>Cargar Datos</span>
          <span></span>
        </button>
      </div>
    </div>
  
    <div class="form-row">
      <div class="form-group">
        <button class="animated-button" (click)="descargarPlantilla()">
          <span>Obtener Plantilla</span>
          <span></span>
        </button>
      </div>
    </div>
  
    <div class="success-message" *ngIf="successMessage" style="margin-top: 10px;">
      {{ successMessage }}
    </div>
  </div>
  
</div>