<div class="container">
  <div class="header">
    <h1>Registro de Nuevo Alumno</h1>
    <p>Complete el formulario</p>
  </div>

  <div
    *ngIf="notificacionMensaje"
    class="notification"
    [ngClass]="{ error: isError, success: !isError }"
  >
    {{ notificacionMensaje }}
    <i
      class="fas"
      [ngClass]="{ 'fa-times': isError, 'fa-check': !isError }"
    ></i>
  </div>
  
  <div class="form-container">
    <form #registroForm="ngForm" (ngSubmit)="submitForm(registroForm)" novalidate>
      <h2>Datos Académicos</h2>
      <div class="form-grid">
        <div class="form-group">
          <label for="promedio">Promedio de Bachillerato</label>
          <input type="number" id="promedio" name="PromedioBachillerato" step="0.01" [(ngModel)]="formData.PromedioBachillerato" required />
          <div class="error-message" *ngIf="errorMensaje['PromedioBachillerato']">
            <i class="fas fa-exclamation-circle"></i> {{ errorMensaje['PromedioBachillerato'] }}
          </div>
        </div>
        <div class="form-group">
          <label for="certificadoBachillerato">Certificado de Bachillerato</label>
          <select id="certificadoBachillerato" name="CertificadoBachillerato" [(ngModel)]="formData.CertificadoBachillerato" required>
            <option value="0">Seleccione...</option>
            <option value="1">Si</option>
            <option value="2">No</option>
          </select>
          <div class="error-message" *ngIf="errorMensaje['CertificadoBachillerato']">
            <i class="fas fa-exclamation-circle"></i> {{ errorMensaje['CertificadoBachillerato'] }}
          </div>
        </div>
        <div class="form-group">
          <label for="especialidadBachillerato">Especialidad de Bachillerato</label>
          <select id="especialidadBachillerato" name="EspecialidadBachillerato" [(ngModel)]="formData.EspecialidadBachillerato" required #especialidadBachillerato="ngModel">
            <option value="">Seleccione...</option>
            <option *ngFor="let especialidadBachillerato of catalogoEspecialidadesBachillerato" [value]="especialidadBachillerato.EspecialidadBachillerato">
              {{ especialidadBachillerato.EspecialidadBachillerato }}
            </option>
          </select>
          <div class="error-message" *ngIf="errorMensaje['EspecialidadBachillerato']">
            <i class="fas fa-exclamation-circle"></i> {{ errorMensaje['EspecialidadBachillerato'] }}
          </div>
        </div>
        <div class="form-group">
          <label for="nombreCarrera">Nombre Carrera</label>
          <select id="nombreCarrera" name="NombreCarrera" [(ngModel)]="formData.NombreCarrera" (change)="onCarreraChange()" required #nombreCarrera="ngModel">
            <option value="">Seleccione...</option>
            <option *ngFor="let carrera of catalogoCarreras" [value]="carrera.NombreCarrera">
              {{ carrera.NombreCarrera }}
            </option>
          </select>
          <div class="error-message" *ngIf="errorMensaje['NombreCarrera']">
            <i class="fas fa-exclamation-circle"></i> {{ errorMensaje['NombreCarrera'] }}
          </div>
        </div>
        <div class="form-group">
          <label for="especialidad">Especialidad</label>
          <select id="especialidad" name="Especialidad" [(ngModel)]="formData.Especialidad" required #especialidad="ngModel">
            <option value="">Seleccione...</option>
            <option *ngFor="let especialidad of especialidadesDisponibles" [value]="especialidad">
              {{ especialidad }}
            </option>
          </select>
          <div class="error-message" *ngIf="errorMensaje['Especialidad']">
            <i class="fas fa-exclamation-circle"></i> {{ errorMensaje['Especialidad'] }}
          </div>
        </div>
        <div class="form-group">
          <label for="semestre">Semestre</label>
          <input type="number" id="semestre" name="Semestre" [(ngModel)]="formData.Semestre" required disabled/>
          <div class="error-message" *ngIf="errorMensaje['Semestre']">
            <i class="fas fa-exclamation-circle"></i> {{ errorMensaje['Semestre'] }}
          </div>
        </div>
        <div class="form-group">
          <label for="anio">Año</label>
          <input type="number" id="anio" name="Anio" [(ngModel)]="formData.Anio" required disabled/>
          <div class="error-message" *ngIf="errorMensaje['Anio']">
            <i class="fas fa-exclamation-circle"></i> {{ errorMensaje['Anio'] }}
          </div>
        </div>
      </div>

      <h2>Datos Generales del Alumno</h2>
      <div class="form-grid">
        <div class="form-group">
          <label for="nombre">Nombre</label>
          <input type="text" id="nombre" name="Nombre" [(ngModel)]="formData.Nombre" (keyup)="onInputChange()" required #nombre="ngModel" />
          <div class="error-message" *ngIf="errorMensaje['Nombre']">
            <i class="fas fa-exclamation-circle"></i> {{ errorMensaje['Nombre'] }}
        </div>
        </div>
        <div class="form-group">
          <label for="apellidoPaterno">Apellido Paterno</label>
          <input type="text" id="apellidoPaterno" name="ApellidoPaterno" [(ngModel)]="formData.ApellidoPaterno" (keyup)="onInputChange()" required #apellidoPaterno="ngModel" />
          <div class="error-message" *ngIf="errorMensaje['ApellidoPaterno']">
            <i class="fas fa-exclamation-circle"></i> {{ errorMensaje['ApellidoPaterno'] }}
          </div>
        </div>
        <div class="form-group">
          <label for="apellidoMaterno">Apellido Materno</label>
          <input type="text" id="apellidoMaterno" name="ApellidoMaterno" [(ngModel)]="formData.ApellidoMaterno" (keyup)="onInputChange()" required #apellidoMaterno="ngModel" />
          <div class="error-message" *ngIf="errorMensaje['ApellidoMaterno']">
            <i class="fas fa-exclamation-circle"></i> {{ errorMensaje['ApellidoMaterno'] }}
          </div>
        </div>
        <div class="form-group">
          <label for="fechaNacimiento">Fecha de Nacimiento</label>
          <input type="date" id="fechaNacimiento" name="FechaNacimiento" [(ngModel)]="formData.FechaNacimiento" (change)="onInputChange()" required #fechaNacimiento="ngModel" />
          <div class="error-message" *ngIf="errorMensaje['FechaNacimiento']">
            <i class="fas fa-exclamation-circle"></i> {{ errorMensaje['FechaNacimiento'] }}
          </div>
        </div>
        <div class="form-group">
          <label for="sexo">Sexo</label>
          <select id="sexo" name="Sexo" [(ngModel)]="formData.Sexo" required>
            <option value="">Seleccione...</option>
            <option value="Masculino">Masculino</option>
            <option value="Femenino">Femenino</option>
          </select>
          <div class="error-message" *ngIf="errorMensaje['Sexo']">
            <i class="fas fa-exclamation-circle"></i> {{ errorMensaje['Sexo'] }}
          </div>
        </div>
        <div class="form-group">
          <label>Teléfonos</label>
          <div *ngFor="let tel of formData.Telefonos; let i = index; trackBy: trackByTelefonoId">
            <label for="telefono{{tel.id}}">Teléfono {{ i + 1 }}</label>
            <div class="input-dynamic">
              <input
                type="text"
                class="camp-input"
                [(ngModel)]="tel.numero"
                name="Telefono{{tel.id}}"
                id="telefono{{tel.id}}"
                required
              />
              <button type="button" (click)="eliminarTelefono(i)" class="animated-button">
                <span><i class="fa fa-trash"></i></span>
                <span></span>
              </button>
            </div>
          </div>
          <div class="error-message" *ngIf="errorMensaje['Telefono']">
            <i class="fas fa-exclamation-circle"></i> {{ errorMensaje['Telefono'] }}
          </div>
          <button type="button" (click)="agregarTelefono()" class="animated-button narrow-button">
            <span><i class="fa fa-plus-circle"></i></span>
            <span></span>
          </button>
        </div>        
        <div class="form-group">
          <label>Correo Electronico</label>
          <div *ngFor="let correo of formData.CorreosElectronicos; let i = index; trackBy: trackByCorreoId">
            <label for="correo{{correo.id}}">Correo Electronico {{ i + 1 }}</label>
            <div class="input-dynamic">
              <input
                type="text"
                class="camp-input"
                [(ngModel)]="correo.correo"
                name="Correo{{correo.id}}"
                id="correo{{correo.id}}"
                required
              />
              <button type="button" (click)="eliminarCorreo(i)" class="animated-button">
                <span><i class="fa fa-trash"></i></span>
                <span></span>
              </button>
            </div>
          </div>
          <div class="error-message" *ngIf="errorMensaje['Correo']">
            <i class="fas fa-exclamation-circle"></i> {{ errorMensaje['Correo'] }}
          </div>
          <button type="button" (click)="agregarCorreo()" class="animated-button narrow-button">
            <span><i class="fa fa-plus-circle"></i></span>
            <span></span>
          </button>
        </div>        

        <div class="form-group">
          <label for="rfc">RFC</label>
          <input type="text" id="rfc" name="RFC" [(ngModel)]="formData.RFC" required disabled/>
          <div class="error-message" *ngIf="errorMensaje['RFC']">
            <i class="fas fa-exclamation-circle"></i> {{ errorMensaje['RFC'] }}
          </div>
        </div>
        <div class="form-group">
          <label for="foto">Fotografía</label>
          <input type="file" id="foto" (change)="onFileChange($event, 'Foto')" accept="image/*" required />
          <div class="error-message" *ngIf="errorMensaje['Foto']">
            <i class="fas fa-exclamation-circle"></i> {{ errorMensaje['Foto'] }}
          </div>
        </div>
      </div>
      <h2>Domicilio del Alumno</h2>
      <div class="form-grid">
        <div class="form-group">
          <label for="codigoPostal">Código Postal</label>
          <input type="text" id="codigoPostal" name="CodigoPostal" [(ngModel)]="formData.Domicilio.CodigoPostal" required />
          <div class="error-message" *ngIf="errorMensaje['CodigoPostal']">
            <i class="fas fa-exclamation-circle"></i> {{ errorMensaje['CodigoPostal'] }}
          </div>
        </div>
        <div class="form-group">
          <label for="ciudad">Ciudad</label>
          <select id="ciudad" name="Ciudad" [(ngModel)]="formData.Domicilio.Ciudad" required #ciudad="ngModel" >
            <option value="">Seleccione...</option>
            <option *ngFor="let ciudad of catalogoCiudades" [value]="ciudad.Ciudad">
              {{ ciudad.Ciudad }}
            </option>
          </select>
          <div class="error-message" *ngIf="errorMensaje['Ciudad']">
            <i class="fas fa-exclamation-circle"></i> {{ errorMensaje['Ciudad'] }}
          </div>
        </div>
        <div class="form-group">
          <label for="colonia">Colonia</label>
          <input type="text" id="colonia" name="Colonia" [(ngModel)]="formData.Domicilio.Colonia" required />
          <div class="error-message" *ngIf="errorMensaje['Colonia']">
            <i class="fas fa-exclamation-circle"></i> {{ errorMensaje['Colonia'] }}
          </div>
        </div>
        <div class="form-group">
          <label for="calle">Calle</label>
          <input type="text" id="calle" name="Calle" [(ngModel)]="formData.Domicilio.Calle" required />
          <div class="error-message" *ngIf="errorMensaje['Calle']">
            <i class="fas fa-exclamation-circle"></i> {{ errorMensaje['Calle'] }}
          </div>
        </div>
        <div class="form-group">
          <label for="numeroExterior">Número Exterior</label>
          <input type="number" id="numeroExterior" name="NumeroExterior" [(ngModel)]="formData.Domicilio.NumeroExterior" required />
          <div class="error-message" *ngIf="errorMensaje['NumeroExterior']">
            <i class="fas fa-exclamation-circle"></i> {{ errorMensaje['NumeroExterior'] }}
          </div>
        </div>
        <div class="form-group">
          <label for="numeroInterior">Número Interior</label>
          <input type="number" id="numeroInterior" name="NumeroInterior" [(ngModel)]="formData.Domicilio.NumeroInterior" />
        </div>
      </div>

      <h2>Datos del Tutor</h2>
      <div class="form-grid">
        <div class="form-group">
          <label for="nombreTutor">Nombre del Tutor</label>
          <input type="text" id="nombreTutor" name="NombreTutor" [(ngModel)]="formData.Tutor.Nombre" required />
          <div class="error-message" *ngIf="errorMensaje['NombreTutor']">
            <i class="fas fa-exclamation-circle"></i> {{ errorMensaje['NombreTutor'] }}
          </div>
        </div>
        <div class="form-group">
          <label for="apellidoPaternoTutor">Apellido Paterno del Tutor</label>
          <input type="text" id="apellidoPaternoTutor" name="ApellidoPaternoTutor" [(ngModel)]="formData.Tutor.ApellidoPaterno" required />
          <div class="error-message" *ngIf="errorMensaje['ApellidoPaternoTutor']">
            <i class="fas fa-exclamation-circle"></i> {{ errorMensaje['ApellidoPaternoTutor'] }}
          </div>
        </div>
        <div class="form-group">
          <label for="apellidoMaternoTutor">Apellido Materno del Tutor</label>
          <input type="text" id="apellidoMaternoTutor" name="ApellidoMaternoTutor" [(ngModel)]="formData.Tutor.ApellidoMaterno" required />
          <div class="error-message" *ngIf="errorMensaje['ApellidoMaternoTutor']">
            <i class="fas fa-exclamation-circle"></i> {{ errorMensaje['ApellidoMaternoTutor'] }}
          </div>
        </div>
        <div class="form-group">
          <label>Teléfonos</label>
          <div *ngFor="let telT of formData.Tutor.Telefonos; let i = index; trackBy: trackByTelefonoId">
            <label for="telefono{{telT.id}}">Teléfono {{ i + 1 }}</label>
            <div class="input-dynamic">
              <input
                type="text"
                class="camp-input"
                [(ngModel)]="telT.numeroT"
                name="TelefonoTutor{{telT.id}}"
                id="telefonoTutor{{telT.id}}"
                required
              />
              <button type="button" (click)="eliminarTelefonoTutor(i)" class="animated-button">
                <span><i class="fa fa-trash"></i></span>
                <span></span>
              </button>
            </div>
          </div>
          <div class="error-message" *ngIf="errorMensaje['TelefonoTutor']">
            <i class="fas fa-exclamation-circle"></i> {{ errorMensaje['TelefonoTutor'] }}
          </div>
          <button type="button" (click)="agregarTelefonoTutor()" class="animated-button narrow-button">
            <span><i class="fa fa-plus-circle"></i></span>
            <span></span>
          </button>
        </div>        
        <div class="form-group">
          <label>Correo Electronico</label>
          <div *ngFor="let correoT of formData.Tutor.CorreosElectronicos; let i = index; trackBy: trackByCorreoTutorId">
            <label for="correo{{correoT.id}}">Correo Electronico {{ i + 1 }}</label>
            <div class="input-dynamic">
              <input
                type="text"
                class="camp-input"
                [(ngModel)]="correoT.correoT"
                name="CorreoT{{correoT.id}}"
                id="correoT{{correoT.id}}"
                required
              />
              <button type="button" (click)="eliminarCorreoTutor(i)" class="animated-button">
                <span><i class="fa fa-trash"></i></span>
                <span></span>
              </button>
            </div>
          </div>
          <div class="error-message" *ngIf="errorMensaje['CorreoT']">
            <i class="fas fa-exclamation-circle"></i> {{ errorMensaje['CorreoT'] }}
          </div>
          <button type="button" (click)="agregarCorreoTutor()" class="animated-button narrow-button">
            <span><i class="fa fa-plus-circle"></i></span>
            <span></span>
          </button>
        </div>        
      </div>
      <h2>Domicilio del Tutor</h2>
      <div class="form-grid">
        <div class="form-group">
          <label for="calleTutor">Codigo postal</label>
          <input type="text" id="codigoPostalTutor" name="CodigoPostalTutor" [(ngModel)]="formData.Tutor.Domicilio.CodigoPostal" required />
          <div class="error-message" *ngIf="errorMensaje['CodigoPostalTutor']">
            <i class="fas fa-exclamation-circle"></i> {{ errorMensaje['CodigoPostalTutor'] }}
          </div>
        </div>
        <div class="form-group">
          <label for="ciudadTutor">Ciudad</label>
          <select id="ciudadTutor" name="CiudadTutor" [(ngModel)]="formData.Tutor.Domicilio.Ciudad" required #ciudadTutor="ngModel" >
            <option value="">Seleccione...</option>
            <option *ngFor="let ciudad of catalogoCiudades" [value]="ciudad.Ciudad">
              {{ ciudad.Ciudad }}
            </option>
          </select>
          <div class="error-message" *ngIf="errorMensaje['CiudadTutor']">
            <i class="fas fa-exclamation-circle"></i> {{ errorMensaje['CiudadTutor'] }}
          </div>
        </div>
        <div class="form-group">
          <label for="coloniaTutor">Colonia</label>
          <input type="text" id="coloniaTutor" name="ColoniaTutor" [(ngModel)]="formData.Tutor.Domicilio.Colonia" required />
          <div class="error-message" *ngIf="errorMensaje['ColoniaTutor']">
            <i class="fas fa-exclamation-circle"></i> {{ errorMensaje['ColoniaTutor'] }}
          </div>
        </div>
        <div class="form-group">
          <label for="calleTutor">Calle</label>
          <input type="text" id="calleTutor" name="CalleTutor" [(ngModel)]="formData.Tutor.Domicilio.Calle" required />
          <div class="error-message" *ngIf="errorMensaje['CalleTutor']">
            <i class="fas fa-exclamation-circle"></i> {{ errorMensaje['CalleTutor'] }}
          </div>
        </div>
        <div class="form-group">
          <label for="numeroExteriorTutor">Número Exterior</label>
          <input type="number" id="numeroExteriorTutor" name="NumeroExteriorTutor" [(ngModel)]="formData.Tutor.Domicilio.NumeroExterior" required />
          <div class="error-message" *ngIf="errorMensaje['NumeroExteriorTutor']">
            <i class="fas fa-exclamation-circle"></i> {{ errorMensaje['NumeroExteriorTutor'] }}
          </div>
        </div>
        <div class="form-group">
          <label for="numeroInteriorTutor">Número interior</label>
          <input type="number" id="numeroInteriorTutor" name="NumeroInteriorTutor" [(ngModel)]="formData.Tutor.Domicilio.NumeroInterior" required />
        </div>
      </div>
      <div class="form-buttons">
        <button type="submit" class="animated-button">
          <span>Finalizar Registro</span>
          <span></span>
        </button>
      </div>
    </form>
  </div>
  <div class="form-container second-container">
    <h2>Cargar estudiantes por documento Excel</h2>
  
    <div class="form-row">
      <div class="form-group">
        <label for="fileInput">Selecciona archivo Excel:</label>
        <input
          type="file"
          id="fileInput"
          name="fileInput"
          accept=".xlsx,.xls"
          (change)="onFileSelected($event)"
          class="form-control"
          required
        />
        <div class="error-message" *ngIf="errorMensaje['fileInput']">
          <i class="fas fa-exclamation-circle"></i> {{ errorMensaje['fileInput'] }}
        </div>
      </div>
  
      <div class="form-group">
        <button class="animated-button" (click)="subirArchivoExcel()">
          <span>Cargar Datos</span>
          <span></span>
        </button>
      </div>
    </div>
  
    <div class="form-row">
      <div class="form-group">
        <button class="animated-button get-button" (click)="descargarPlantilla()">
          <span>Obtener Plantilla</span>
          <span></span>
        </button>
      </div>
    </div>

  </div>
  
</div>