<div class="container">
  <div class="header">
    <h1>Registro de Observaciones Docentes</h1>
    <p>Complete el formulario para registrar una nueva observación</p>
  </div>

  <div *ngIf="notificacionMensaje" class="notification" [ngClass]="{'error': isError, 'success': !isError}">
    {{ notificacionMensaje }} 
    <i class="fas" [ngClass]="{'fa-times': isError, 'fa-check': !isError}"></i>
  </div>

  <div class="form-container">
    <form (ngSubmit)="registrarObservacion()" #registroForm="ngForm">
      <div class="form-row">
        <div class="form-group" style="flex: 2">
          <label for="buscador">Buscar Estudiante</label>
          <input
            type="text"
            id="buscador"
            name="buscador"
            placeholder="Buscar estudiante..."
            [(ngModel)]="busqueda"
            (input)="buscarEstudiante()"
          />
          
          <ul *ngIf="resultados.length > 0" class="dropdown">
            <li *ngFor="let estudiante of resultados" (click)="seleccionarEstudiante(estudiante)">
              {{ estudiante.Nombre }} {{ estudiante.ApellidoPaterno }} {{ estudiante.ApellidoMaterno }} - {{ estudiante.Matricula }} - {{ estudiante.Especialidad }}
            </li>
          </ul>
        </div>
        
      </div>

      <div class="form-row">
        <div class="form-group">
          <label for="matricula">Matrícula</label>
          <input
            type="text"
            id="matricula"
            placeholder="Ingrese matrícula"
            [(ngModel)]="matricula"
            name="matricula"
            disabled
          />
          <div class="error-message" *ngIf="errorMensaje['matricula']">
            <i class="fas fa-exclamation-circle"></i> {{ errorMensaje['matricula'] }}
          </div>
        </div>

        <div class="form-group">
          <label for="nombreCompleto">Nombre Completo</label>
          <input
            type="text"
            id="nombreCompleto"
            placeholder="Ingrese nombre completo"
            [(ngModel)]="estudiante"
            name="estudiante"
            disabled
          />
          <div class="error-message" *ngIf="errorMensaje['estudiante']">
            <i class="fas fa-exclamation-circle"></i> {{ errorMensaje['estudiante'] }}
          </div>
        </div>
      </div>

      <div class="form-row">
        <div class="form-group">
          <label for="docente">Docente</label>
          <select id="docente" [(ngModel)]="docente" name="docente" (change)="actualizarAsignaturas()" required>
            <option value="">Seleccione un docente</option>
            <option *ngFor="let docenteItem of docentes" [value]="docenteItem.NombreCompletoDocente">
              {{ docenteItem.NombreCompletoDocente }}
            </option>
          </select>
          <div class="error-message" *ngIf="errorMensaje['docente']">
            <i class="fas fa-exclamation-circle"></i> {{ errorMensaje['docente'] }} 
          </div>
        </div>
        
        <div class="form-group">
          <label for="asignatura">Asignatura</label>
          <select id="asignatura" [(ngModel)]="asignatura" name="asignatura" required>
            <option value="">Seleccione una asignatura</option>
            <option *ngFor="let asignatura of asignaturas" [value]="asignatura">
              {{ asignatura }}
            </option>
          </select>
          <div class="error-message" *ngIf="errorMensaje['asignatura']">
            <i class="fas fa-exclamation-circle"></i> {{ errorMensaje['asignatura'] }}
          </div>
        </div>        
      </div>

      <div class="form-row">
        <div class="form-group">
          <label for="anio">Año</label>
          <input
            type="number"
            id="anio"
            placeholder="Año"
            [(ngModel)]="anio"
            name="año"
            disabled
            required
          />
          <div class="error-message" *ngIf="errorMensaje['año']">
            <i class="fas fa-exclamation-circle"></i> {{ errorMensaje['año'] }}
          </div>
        </div>

        <div class="form-group">
          <label for="semestre">Semestre</label>
          <input
            type="number"
            id="semestre"
            placeholder="Semestre"
            [(ngModel)]="semestre"
            name="semestre"
            disabled
            required
          />
          <div class="error-message" *ngIf="errorMensaje['semestre']">
            <i class="fas fa-exclamation-circle"></i> {{ errorMensaje['semestre'] }}
          </div>
        </div>
      </div>

      <div class="form-row">
        <div class="form-group" style="flex: 2">
          <label for="observaciones">Observación</label>
          <textarea
            id="observaciones"
            rows="4"
            placeholder="Ingrese observaciones..."
            style="resize: vertical"
            [(ngModel)]="descripcion"
            name="descripcion"
            required
          ></textarea>
          <div class="error-message" *ngIf="errorMensaje['descripcion']"> 
            <i class="fas fa-exclamation-circle"></i> {{ errorMensaje['descripcion'] }}
          </div>
        </div>
      </div>

      <div class="form-buttons">
        <button type="submit" class="animated-button">
          <span>Registrar Observación</span>
          <span></span>
        </button>
      </div>
    </form>
  </div>

  <div class="form-container second-container">
    <h2>Cargar observaciones por documento</h2>
    <div class="form-row">
      <div class="form-group">
        <input type="file" id="fileInput" (change)="onFileSelected($event)" name="fileInput" #fileInputRef required/>
        <div class="error-message" *ngIf="errorMensaje['fileInput']">
          <i class="fas fa-exclamation-circle"></i> {{ errorMensaje['fileInput'] }}  
        </div>
      </div>
      <div class="form-group">
        <button  class="animated-button" (click)="subirArchivo()">
          <span>Cargar</span>
          <span></span>
        </button>
      </div>
    </div>

    <div class="form-row">
      <div class="form-group">
        <button  class="animated-button" (click)="descargarPlantilla()">
          <span>Obtener Plantilla</span>
          <span></span>
        </button>
      </div>
    </div>
  </div>
</div>