<div class="container">
  <div class="header">
    <h1>Registro de Observaciones Docentes</h1>
    <p>Complete el formulario para registrar una nueva observación</p>
  </div>

  <div *ngIf="notificacionMensaje" class="notification">
    {{ notificacionMensaje }} <i class="fas fa-check"></i>
  </div>

  <div class="form-container">
    <form (ngSubmit)="registrarObservacion()" #registroForm="ngForm">
      <div class="form-row">
        <div class="form-group" style="flex: 2">
          <label for="buscador">Buscar Estudiante</label>
          <input
            type="text"
            id="buscador"
            placeholder="Buscar estudiante..."
            oninput="filtrarEstudiantes()"
          />
        </div>
      </div>

      <div class="form-row">
        <div class="form-group">
          <label for="matricula">Matrícula</label>
          <input
            type="text"
            id="matricula"
            placeholder="Ingrese matrícula"
            [(ngModel)]="matricula"
            name="matricula"
          />
        </div>

        <div class="form-group">
          <label for="nombreCompleto">Nombre Completo</label>
          <input
            type="text"
            id="nombreCompleto"
            placeholder="Ingrese nombre completo"
            [(ngModel)]="estudiante"
            name="estudiante"
          />
        </div>
      </div>

      <div class="form-row">
        <div class="form-group">
          <label for="docente">Docente</label>
          <select id="docente" [(ngModel)]="docente" name="docente" (change)="actualizarAsignaturas()">
            <option value="">Seleccione un docente</option>
            <option *ngFor="let docenteItem of docentes" [value]="docenteItem.NombreCompletoDocente">
              {{ docenteItem.NombreCompletoDocente }}
            </option>
          </select>
        </div>
        
        <div class="form-group">
          <label for="asignatura">Asignatura</label>
          <select id="asignatura" [(ngModel)]="asignatura" name="asignatura">
            <option value="">Seleccione una asignatura</option>
            <option *ngFor="let asignatura of asignaturas" [value]="asignatura">
              {{ asignatura }}
            </option>
          </select>
        </div>        
      </div>

      <div class="form-row">
        <div class="form-group">
          <label for="anio">Año</label>
          <input
            type="number"
            id="anio"
            placeholder="Año"
            [(ngModel)]="anio"
            name="año"
          />
        </div>

        <div class="form-group">
          <label for="semestre">Semestre</label>
          <input
            type="number"
            id="semestre"
            placeholder="Semestre"
            [(ngModel)]="semestre"
            name="semestre"
          />
        </div>
      </div>

      <div class="form-row">
        <div class="form-group" style="flex: 2">
          <label for="observaciones">Observaciones</label>
          <textarea
            id="observaciones"
            rows="4"
            placeholder="Ingrese observaciones..."
            style="resize: vertical"
            [(ngModel)]="descripcion"
            name="descripcion"
          ></textarea>
        </div>
      </div>

      <div class="form-buttons">
        <button type="submit" class="animated-button">
          <span>Registrar Observación</span>
          <span></span>
        </button>
      </div>
    </form>
  </div>

  <div class="form-container second-container">
    <h2>Cargar observaciones por documento</h2>
    <div class="form-row">
      <div class="form-group">
        <input type="file" id="fileInput" />
      </div>
      <div class="form-group">
        <button  class="animated-button">
          <span>Cargar</span>
          <span></span>
        </button>
      </div>
    </div>
  </div>
</div>