<div class="container">
  <div class="header">
    <h1>Editar Datos</h1>
    <p>Complete el formulario para editar los datos</p>
  </div>

  <div class="form-container">
    <form id="registro-form" (ngSubmit)="actualizarEstudiante()">
      <!-- Información Personal -->
      <h2>Información Personal</h2>
      <div class="form-row">
        <div class="form-group">
          <label for="codigoPostal">Código Postal</label>
          <input
            type="text"
            id="codigoPostal"
            [(ngModel)]="estudiante.Domicilio.CodigoPostal"
            name="codigoPostal"
            placeholder="Ingrese código postal"
            required 
          />
          <div class="error-message" *ngIf="errorMensaje['codigoPostal']">
            <i class="fas fa-exclamation-circle"></i> {{ errorMensaje['codigoPostal'] }}
          </div>
        </div>

        <div class="form-group">
          <label for="ciudad">Ciudad</label>
          <select id="ciudad" name="Ciudad" [(ngModel)]="estudiante.Domicilio.Ciudad" required #ciudad="ngModel" >
            <option value="">Seleccione...</option>
            <option *ngFor="let ciudad of ciudades" [value]="ciudad.Ciudad">
              {{ ciudad.Ciudad }}
            </option>
          </select>
          <div class="error-message" *ngIf="errorMensaje['Ciudad']">
            <i class="fas fa-exclamation-circle"></i> {{ errorMensaje['Ciudad'] }}
          </div>
        </div>
      </div>

      <div class="form-row">
        <div class="form-group">
          <label for="colonia">Colonia</label>
          <input
            type="text"
            id="colonia"
            [(ngModel)]="estudiante.Domicilio.Colonia"
            name="colonia"
            placeholder="Ingrese colonia"
            required
          />
          <div class="error-message" *ngIf="errorMensaje['colonia']">
            <i class="fas fa-exclamation-circle"></i> {{ errorMensaje['colonia'] }}
          </div>
        </div>

        <div class="form-group">
          <label for="calle">Calle</label>
          <input
            type="text"
            id="calle"
            [(ngModel)]="estudiante.Domicilio.Calle"
            name="calle"
            placeholder="Ingrese calle"
            required
          />
          <div class="error-message" *ngIf="errorMensaje['calle']">
            <i class="fas fa-exclamation-circle"></i> {{ errorMensaje['calle'] }}
          </div>
        </div>
      </div>

      <div class="form-row">
        <div class="form-group">
          <label for="numeroExterior">Número Exterior</label>
          <input
            type="text"
            id="numeroExterior"
            [(ngModel)]="estudiante.Domicilio.NumeroExterior"
            name="numeroExterior"
            placeholder="Ingrese número exterior"
            required
          />
          <div class="error-message" *ngIf="errorMensaje['numeroExterior']">
            <i class="fas fa-exclamation-circle"></i> {{ errorMensaje['numeroExterior']}}
          </div>
        </div>
    
        <div class="form-group">
          <label for="numeroInterior">Número Interior</label>
          <input
            type="text"
            id="numeroInterior"
            [(ngModel)]="estudiante.Domicilio.NumeroInterior"
            name="numeroInterior"
            placeholder="Ingrese número interior"
          />
        </div>
      </div>
    
      <div class="form-row">
        <div class="form-group">
          <label for="correoElectronico">Correos Electrónicos</label>
          <div *ngFor="let correo of estudiante.CorreosElectronicos; let i = index">
            <input
              type="email"
              id="correoElectronico{{i}}"
              [(ngModel)]="correo.correo"
              name="correoElectronico{{i}}"
              placeholder="Ingrese correo electrónico"
              required
            />
            <div class="error-message" *ngIf="errorMensaje['correoElectronico']">
              <i class="fas fa-exclamation-circle"></i> {{ errorMensaje['correoElectronico'] }}
            </div>
            <button type="button" (click)="eliminarCorreo(i)" *ngIf="estudiante.CorreosElectronicos.length > 1" class="animated-button">
              <span><i class="fa fa-trash"></i></span>
              <span></span>
            </button>
          </div>
          <button type="button" (click)="agregarCorreo()" class="animated-button narrow-button">
            <span><i class="fa fa-plus"></i></span>
            <span></span>
          </button>
        </div>

        <div class="form-group">  
          <label for="telefono">Teléfonos</label>
          <div *ngFor="let telefono of estudiante.Telefonos; let i = index">
            <input
              type="tel"
              id="telefono{{i}}"
              [(ngModel)]="telefono.numero"
              name="telefono{{i}}"
              placeholder="Ingrese teléfono"
              required
            />
            <div class="error-message" *ngIf="errorMensaje['telefono']">
              <i class="fas fa-exclamation-circle"></i> {{ errorMensaje['telefono'] }}
            </div>
            <button type="button" (click)="eliminarTelefono(i)" *ngIf="estudiante.Telefonos.length > 1" class="animated-button">
              <span><i class="fa fa-trash"></i></span>
              <span></span>
            </button>
          </div>
          <button type="button" (click)="agregarTelefono()" class="animated-button narrow-button">
            <span><i class="fa fa-plus"></i></span>
            <span></span>
          </button>
        </div>
      </div>
      
      <div class="form-row">
        <div class="form-group">
          <label for="nombre">Nombre</label>
          <input 
            type="text" 
            id="nombre" 
            [(ngModel)]="estudiante.Nombre"
            name="nombre"
            placeholder="Ingrese nombre"
            required
            >
            <div class="errorMensaje" *ngIf="errorMensaje['nombre']">
              <i class="fas fa-exclamation-circle"></i> {{ errorMensaje['nombre'] }}
            </div>
        </div>

        <div class="form-group">
          <label for="apellidoPaterno">Apellido Paterno</label>
          <input 
            type="text"
            id="apellidoPaterno"
            [(ngModel)]="estudiante.ApellidoPaterno"
            name="apellidoPaterno"
            placeholder="Ingrese apellido paterno"
            required
          >
          <div class="errorMensaje" *ngIf="errorMensaje['apellidoPaterno']">
            <i class="fas fa-exclamation-circle"></i> {{ errorMensaje['apellidoPaterno'] }}
          </div>
        </div>
      </div>

      <div class="form-row">
        <div class="form-group">
          <label for="apellidoMaterno">Apellido Materno</label>
          <input 
            type="text"
            id="apellidoMaterno"
            [(ngModel)]="estudiante.ApellidoMaterno"
            name="apellidoMaterno"
            placeholder="Ingrese apellido materno"
            required
          >
          <div class="errorMensaje" *ngIf="errorMensaje['apellidoMaterno']">
            <i class="fas fa-exclamation-circle"></i> {{ errorMensaje['apellidoMaterno'] }}
          </div>
        </div>

        <div class="form-group">
          <label for="foto">Foto</label>
          <input type="file" id="foto" accept="image/*" (change)="onFileSelected($event)" /> <!-- Vincula el evento -->
        </div>
      </div>

      <div class="form-row">
        <div class="form-row">
          <div class="form-group">
            <label for="carrera">Carrera</label>
            <select id="carrera" name="carrera" [(ngModel)]="estudiante.NombreCarrera" (change)="onCarreraChange()">
              <option value="">Seleccione...</option>
              <option *ngFor="let carrera of catalogoCarreras" [value]="carrera.NombreCarrera">
                {{ carrera.NombreCarrera }}
              </option>
            </select>
          </div> 
          
          <div class="form-group">
            <label for="especialidad">Especialidad</label>
            <select id="especialidad" name="especialidad" [(ngModel)]="estudiante.Especialidad">
              <option value="">Seleccione...</option>
              <option *ngFor="let especialidad of especialidadesDisponibles" [value]="especialidad">
                {{ especialidad }}
              </option>
            </select>
          </div>
        </div>
      </div>

      <!-- Información Tutor -->
      <h2>Información Tutor</h2>
      <div class="form-row">
        <div class="form-group">
          <label for="codigoPostalTutor">Código Postal</label>
          <input
            type="text"
            id="codigoPostalTutor"
            [(ngModel)]="estudiante.Tutor.Domicilio.CodigoPostal"
            name="codigoPostalTutor"
            placeholder="Ingrese código postal"
            required
          />
          <div class="error-message" *ngIf="errorMensaje['codigoPostalTutor']">
            <i class="fas fa-exclamation-circle"></i> {{ errorMensaje['codigoPostalTutor'] }}
          </div>
        </div>

        <div class="form-group">
          <label for="ciudadTutor">Ciudad</label>
          <select id="ciudadciudadTutor" name="CiudadTutor" [(ngModel)]="estudiante.Tutor.Domicilio.Ciudad" required #ciudad="ngModel" >
            <option value="">Seleccione...</option>
            <option *ngFor="let ciudad of ciudades" [value]="ciudad.Ciudad">
              {{ ciudad.Ciudad }}
            </option>
          </select>
          <div class="error-message" *ngIf="errorMensaje['Ciudad']">
            <i class="fas fa-exclamation-circle"></i> {{ errorMensaje['Ciudad'] }}
          </div>
        </div>
      </div>

      <div class="form-row">
        <div class="form-group">
          <label for="coloniaTutor">Colonia</label>
          <input
            type="text"
            id="coloniaTutor"
            [(ngModel)]="estudiante.Tutor.Domicilio.Colonia"
            name="coloniaTutor"
            placeholder="Ingrese colonia"
            required
          />
          <div class="error-message" *ngIf="errorMensaje['coloniaTutor']">
            <i class="fas fa-exclamation-circle"></i> {{ errorMensaje['coloniaTutor'] }}
          </div>
        </div>

        <div class="form-group">
          <label for="calleTutor">Calle</label>
          <input
            type="text"
            id="calleTutor"
            [(ngModel)]="estudiante.Tutor.Domicilio.Calle"
            name="calleTutor"
            placeholder="Ingrese calle"
            required
          />
          <div class="error-message" *ngIf="errorMensaje['calleTutor']">
            <i class="fas fa-exclamation-circle"></i> {{ errorMensaje['calleTutor'] }}
          </div>
        </div>
      </div>

      <div class="form-row">
        <div class="form-group">
          <label for="numeroExteriorTutor">Número Exterior</label>
          <input
            type="text"
            id="numeroExteriorTutor"
            [(ngModel)]="estudiante.Tutor.Domicilio.NumeroExterior"
            name="numeroExteriorTutor"
            placeholder="Ingrese número exterior"
            required
          />
          <div class="error-message" *ngIf="errorMensaje['numeroExteriorTutor']">
            <i class="fas fa-exclamation-circle"></i> {{ errorMensaje['numeroExteriorTutor'] }}
          </div>
        </div>

        <div class="form-group">
          <label for="numeroInteriorTutor">Número Interior</label>
          <input
            type="text"
            id="numeroInteriorTutor"
            [(ngModel)]="estudiante.Tutor.Domicilio.NumeroInterior"
            name="numeroInteriorTutor"
            placeholder="Ingrese número interior"
          />
        </div>
      </div>

      <div class="form-row">
        <div class="form-group">
          <label for="correoElectronicoTutor">Correos Electrónicos del Tutor</label>
          <div *ngFor="let correo of estudiante.Tutor.CorreosElectronicos; let i = index">
            <input
              type="email"
              id="correoElectronicoTutor{{i}}"
              [(ngModel)]="correo.correoT"
              name="correoElectronicoTutor{{i}}"
              placeholder="Ingrese correo electrónico"
              required
            />
            <div class="error-message" *ngIf="errorMensaje['correoElectronicoTutor']">
              <i class="fas fa-exclamation-circle"></i> {{ errorMensaje['correoElectronicoTutor'] }}
            </div>
            <button type="button" (click)="eliminarCorreoTutor(i)" *ngIf="estudiante.Tutor.CorreosElectronicos.length > 1" class="animated-button">
              <span><i class="fa fa-trash"></i></span>
              <span></span>
            </button>
          </div>
          <button type="button" (click)="agregarCorreoTutor()" class="animated-button narrow-button">
            <span><i class="fa fa-plus"></i></span>
            <span></span>
          </button>
        </div>

        <div class="form-group">
          <label for="telefonoTutor">Teléfonos del Tutor</label>
          <div *ngFor="let telefono of estudiante.Tutor.Telefonos; let i = index">
            <input
              type="tel"
              id="telefonoTutor{{i}}"
              [(ngModel)]="telefono.numeroT"
              name="telefonoTutor{{i}}"
              placeholder="Ingrese teléfono"
              required
            />
            <div class="error-message" *ngIf="errorMensaje['telefonoTutor']">
              <i class="fas fa-exclamation-circle"></i> {{ errorMensaje['telefonoTutor'] }}
            </div>
            <button type="button" (click)="eliminarTelefonoTutor(i)" *ngIf="estudiante.Tutor.Telefonos.length > 1" class="animated-button">
              <span><i class="fa fa-trash"></i></span>
              <span></span>
            </button>
          </div>
          <button type="button" (click)="agregarTelefonoTutor()" class="animated-button narrow-button">
            <span><i class="fa fa-plus"></i></span>
            <span></span>
          </button>
        </div>                  
      </div>

      <div class="form-row">
        <div class="form-group">
          <label for="nombreTutor">Nombre</label>
          <input 
            type="text" 
            id="nombreTutor" 
            [(ngModel)]="estudiante.Tutor.Nombre"
            name="nombreTutor"
            placeholder="Ingrese nombre"
            required
            >
            <div class="errorMensaje" *ngIf="errorMensaje['nombreTutor']">
              <i class="fas fa-exclamation-circle"></i> {{ errorMensaje['nombreTutor'] }}
            </div>
        </div>

        <div class="form-group">
          <label for="apellidoPaternoTutor">Apellido Paterno</label>
          <input 
            type="text"
            id="apellidoPaternoTutor"
            [(ngModel)]="estudiante.Tutor.ApellidoPaterno"
            name="apellidoPaternoTutor"
            placeholder="Ingrese apellido paterno"
            required
          >
          <div class="errorMensaje" *ngIf="errorMensaje['apellidoPaternoTutor']">
            <i class="fas fa-exclamation-circle"></i> {{ errorMensaje['apellidoPaternoTutor'] }}
          </div>
        </div>
      </div>

      <div class="form-row">
        <div class="form-group">
          <label for="apellidoMaternoTutor">Apellido Materno</label>
          <input 
            type="text"
            id="apellidoMaternoTutor"
            [(ngModel)]="estudiante.Tutor.ApellidoMaterno"
            name="apellidoMaternoTutor"
            placeholder="Ingrese apellido materno"
            required
          >
          <div class="errorMensaje" *ngIf="errorMensaje['apellidoMaternoTutor']">
            <i class="fas fa-exclamation-circle"></i> {{ errorMensaje['apellidoMaternoTutor'] }}
          </div>
        </div>
        <div class="form-group">
          <!--Este estara basio para que no se vea alargado el "input" ya que lo toma como su hubiera dos elementos dentro del "form-row"-->
        </div>
      </div>

      <div class="form-row">
      <div class="form-buttons">
        <button type="submit" class="animated-button" (click)="cancelarEdicion()">
          <span>Cancerlar</span>
          <span></span>
        </button>
      </div>

      <div class="form-buttons">
        <button type="submit" class="animated-button">
          <span>Actualizar Datos</span>
          <span></span>
        </button>
      </div>
    </div>
    </form>
  </div>
</div>
