<div class="container">
  <div class="header">
    <h1>Registro de Actividades Extracurriculares</h1>
    <p>Complete el formulario para registrar una nueva actividad</p>
  </div>

  <div
    *ngIf="notificacionMensaje"
    class="notification"
    [ngClass]="{ error: isError, success: !isError }"
  >
    {{ notificacionMensaje }}
    <i
      class="fas"
      [ngClass]="{ 'fa-times': isError, 'fa-check': !isError }"
    ></i>
  </div>

  <div class="form-container">
    <form (ngSubmit)="registrarActividad()" #registroForm="ngForm">
      <div class="form">
        <div class="form-group" style="flex: 2">
          <label for="buscador">Buscar Estudiante</label>
          <input
            type="text"
            id="buscador"
            name="buscador"
            placeholder="Buscar estudiante..."
            [(ngModel)]="busqueda"
            (input)="buscarEstudiante()"
          />
          
          <ul *ngIf="resultados.length > 0" class="dropdown">
            <li *ngFor="let estudiante of resultados" (click)="seleccionarEstudiante(estudiante)">
              {{ estudiante.Nombre }} {{ estudiante.ApellidoPaterno }} {{ estudiante.ApellidoMaterno }} - {{ estudiante.Matricula }} - {{ estudiante.Especialidad }}
            </li>
          </ul>
        </div>
      </div>

      <div class="form-row">
        <div class="form-group">
          <label for="matricula">Matricula Estudiante</label>
          <input
            type="text"
            id="matricula"
            placeholder="Ingrese la matricula del estudiante"
            [(ngModel)]="matricula"
            name="matricula"
            disabled
            required
          />
          <div class="error-message" *ngIf="errorMensaje['matricula']">
            <i class="fas fa-exclamation-circle"></i>
            {{ errorMensaje["matricula"] }}
          </div>
        </div>

        <div class="form-group">
          <label for="docente">Docente</label>
          <select id="docente" [(ngModel)]="docente" name="docente" required>
            <option value="">Seleccione un docente</option>
            <option
              *ngFor="let docenteItem of docentes"
              [value]="docenteItem.NombreCompletoDocente"
            >
              {{ docenteItem.NombreCompletoDocente }}
            </option>
          </select>
          <div class="error-message" *ngIf="errorMensaje['docente']">
            <i class="fas fa-exclamation-circle"></i>
            {{ errorMensaje["docente"] }}
          </div>
        </div>
      </div>

      <div class="form-row">
        <div class="form-group">
          <label for="actividad">Actividad Extracurricular</label>
          <select
            id="actividad"
            [(ngModel)]="actividad"
            name="actividad"
            required
          >
            <option value="">Seleccione una actividad</option>
            <option
              *ngFor="let actividadItem of actividades"
              [value]="actividadItem.NombreActividadExtracurricular"
            >
              {{ actividadItem.NombreActividadExtracurricular }}
            </option>
          </select>
          <div class="error-message" *ngIf="errorMensaje['actividad']">
            <i class="fas fa-exclamation-circle"></i>
            {{ errorMensaje["actividad"] }}
          </div>
        </div>

        <div class="form-group">
          <label for="fechaInicio">Fecha de inicio</label>
          <input
            type="date"
            id="fechaInicio"
            [(ngModel)]="fechaInicio"
            name="fechaInicio"
            required
          />
          <div class="error-message" *ngIf="errorMensaje['fechaInicio']">
            <i class="fas fa-exclamation-circle"></i>
            {{ errorMensaje["fechaInicio"] }}
          </div>
        </div>
      </div>

      <div class="form-row">
        <div class="form-group">
          <label for="fechaFin">Fecha de fin</label>
          <input
            type="date"
            id="fechaFin"
            [(ngModel)]="fechaFin"
            name="fechaFin"
            required
          />
          <div class="error-message" *ngIf="errorMensaje['fechaFin']">
            <i class="fas fa-exclamation-circle"></i>
            {{ errorMensaje["fechaFin"] }}
          </div>
        </div>

        <div class="form-group">
          <label for="resultado">Resultado</label>
          <select
            id="resultado"
            [(ngModel)]="resultado"
            name="resultado"
            required
          >
            <option value="">Seleccione una observación</option>
            <option value="Asistió">Asistió</option>
            <option value="No asistió">No asistió</option>
          </select>
          <div class="error-message" *ngIf="errorMensaje['resultado']">
            <i class="fas fa-exclamation-circle"></i>
            {{ errorMensaje["resultado"] }}
          </div>
        </div>
      </div>

      <div class="form-buttons">
        <button type="submit" class="animated-button">
          <span>Registrar Actividad</span>
          <span></span>
        </button>
      </div>
    </form>
  </div>

  <div class="form-container second-container">
    <h2>Cargar actividades por documento</h2>
    <div class="form-row">
      <div class="form-group">
        <input
          type="file"
          id="fileInput"
          (change)="onFileSelected($event)"
          name="fileInput"
          required
        />
        <div class="error-message" *ngIf="errorMensaje['fileInput']">
          <i class="fas fa-exclamation-circle"></i>
          {{ errorMensaje["fileInput"] }}
        </div>
      </div>
      <div class="form-group">
        <button class="animated-button" (click)="subirArchivo()">
          <span>Cargar Datos</span>
          <span></span>
        </button>
      </div>
    </div>
    <div class="form-row">
      <div class="form-group">
        <button class="animated-button" (click)="descargarPalntilla()">
          <span>Obtener Plantilla</span>
          <span></span>
        </button>
      </div>
    </div>
  </div>
</div>
