<div class="container">
  <div class="header">
    <h1>Editar Datos</h1>
    <p>Complete el formulario para editar los datos</p>
  </div>

  <div class="form-container">
    <form id="registro-form" (ngSubmit)="actualizarEstudiante()">
      <!-- Información Personal -->
      <h2>Información Personal</h2>
      <div class="form-row">
        <div class="form-group">
          <label for="codigoPostal">Código Postal</label>
          <input
            type="text"
            id="codigoPostal"
            [(ngModel)]="estudiante.Domicilio.CodigoPostal"
            name="codigoPostal"
            placeholder="Ingrese código postal"
          />
        </div>

        <div class="form-group">
          <label for="ciudad">Ciudad</label>
          <input
            type="text"
            id="ciudad"
            [(ngModel)]="estudiante.Domicilio.Ciudad"
            name="ciudad"
            placeholder="Ingrese ciudad"
          />
        </div>
      </div>

      <div class="form-row">
        <div class="form-group">
          <label for="colonia">Colonia</label>
          <input
            type="text"
            id="colonia"
            [(ngModel)]="estudiante.Domicilio.Colonia"
            name="colonia"
            placeholder="Ingrese colonia"
          />
        </div>

        <div class="form-group">
          <label for="numeroExterior">Número Exterior</label>
          <input
            type="text"
            id="numeroExterior"
            [(ngModel)]="estudiante.Domicilio.NumeroExterior"
            name="numeroExterior"
            placeholder="Ingrese número exterior"
          />
        </div>
      </div>

      <div class="form-row">
        <div class="form-group">
          <label for="numeroInterior">Número Interior</label>
          <input
            type="text"
            id="numeroInterior"
            [(ngModel)]="estudiante.Domicilio.NumeroInterior"
            name="numeroInterior"
            placeholder="Ingrese número interior"
          />
        </div>

        <div class="form-group">
          <label for="correoElectronico">Correo Electrónico</label>
          <input
            type="email"
            id="correoElectronico"
            [(ngModel)]="estudiante.CorreosElectronicos[0]"
            name="correoElectronico"
            placeholder="Ingrese correo electrónico"
          />
        </div>
      </div>

      <div class="form-row">
        <div class="form-group">
          <label for="telefono">Teléfono</label>
          <input
            type="tel"
            id="telefono"
            [(ngModel)]="estudiante.Telefonos[0]"
            name="telefono"
            placeholder="Ingrese teléfono"
          />
        </div>

        <div class="form-group">
          <label for="foto">Foto</label>
          <input type="file" id="foto" accept="image/*" (change)="onFileSelected($event)" /> <!-- Vincula el evento -->
        </div>
      </div>

      <!-- Información Tutor -->
      <h2>Información Tutor</h2>
      <div class="form-row">
        <div class="form-group">
          <label for="codigoPostalTutor">Código Postal</label>
          <input
            type="text"
            id="codigoPostalTutor"
            [(ngModel)]="estudiante.Tutor.Domicilio.CodigoPostal"
            name="codigoPostalTutor"
            placeholder="Ingrese código postal"
          />
        </div>

        <div class="form-group">
          <label for="ciudadTutor">Ciudad</label>
          <input
            type="text"
            id="ciudadTutor"
            [(ngModel)]="estudiante.Tutor.Domicilio.Ciudad"
            name="ciudadTutor"
            placeholder="Ingrese ciudad"
          />
        </div>
      </div>

      <div class="form-row">
        <div class="form-group">
          <label for="coloniaTutor">Colonia</label>
          <input
            type="text"
            id="coloniaTutor"
            [(ngModel)]="estudiante.Tutor.Domicilio.Colonia"
            name="coloniaTutor"
            placeholder="Ingrese colonia"
          />
        </div>

        <div class="form-group">
          <label for="numeroExteriorTutor">Número Exterior</label>
          <input
            type="text"
            id="numeroExteriorTutor"
            [(ngModel)]="estudiante.Tutor.Domicilio.NumeroExterior"
            name="numeroExteriorTutor"
            placeholder="Ingrese número exterior"
          />
        </div>
      </div>

      <div class="form-row">
        <div class="form-group">
          <label for="numeroInteriorTutor">Número Interior</label>
          <input
            type="text"
            id="numeroInteriorTutor"
            [(ngModel)]="estudiante.Tutor.Domicilio.NumeroInterior"
            name="numeroInteriorTutor"
            placeholder="Ingrese número interior"
          />
        </div>

        <div class="form-group">
          <label for="correoElectronicoTutor">Correo Electrónico</label>
          <input
            type="email"
            id="correoElectronicoTutor"
            [(ngModel)]="estudiante.Tutor.CorreosElectronicos[0]"
            name="correoElectronicoTutor"
            placeholder="Ingrese correo electrónico"
          />
        </div>
      </div>

      <div class="form-row">
        <div class="form-group">
          <label for="telefonoTutor">Teléfono</label>
          <input
            type="tel"
            id="telefonoTutor"
            [(ngModel)]="estudiante.Tutor.Telefonos[0]"
            name="telefonoTutor"
            placeholder="Ingrese teléfono"
          />
        </div>
      </div>

      <div class="form-row">
      <div class="form-buttons">
        <button type="submit" class="animated-button" (click)="cancelarEdicion()">
          <span>Cancerlar</span>
          <span></span>
        </button>
      </div>

      <div class="form-buttons">
        <button type="submit" class="animated-button">
          <span>Actualizar Datos</span>
          <span></span>
        </button>
      </div>
    </div>
    </form>
  </div>
</div>
